<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md " style="background-image: url('../../assets/img/1.jpeg');">
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col">
                    
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col-md-12 align-self-center p-static order-2 text-center">
                            <div class="overflow-hidden pb-2">
                                <h1 class="text-dark font-weight-bold text-9 " data-appear-animation="maskUp" data-appear-animation-delay="100">Contact Us</h1>
                            </div>
                        </div>
                        <div class="col-md-12 align-self-center order-1">
                            
                        </div>
                    </div>
                </div>

                <div class="col">
                    
                </div>

            </div>
        </div>
    </section>

    <div class="container">

        <div class="row py-4">						
            <div class="col-lg-6">

                <div class="" data-appear-animation="fadeIn" data-appear-animation-delay="800">
                    <h4 class="mt-2 mb-1">Our <strong>Office</strong></h4>
                    <ul class="list list-icons list-icons-style-2 mt-2">
                        <li><i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">Address:</strong> 513, Ratnanjali Square, Satellite Ahmedabad, Gujarat (India)</li>
                        <li><i class="fas fa-phone top-6"></i> <strong class="text-dark">Phone:</strong> +91-7777934555</li>
                        <li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">Email:</strong> <a href="mailto:contact@bitnbinary.com">contact@bitnbinary.com</a></li>
                    </ul>
                </div>

                <div class="" data-appear-animation="fadeIn" data-appear-animation-delay="950">
                    <h4 class="pt-5">Business <strong>Hours</strong></h4>
                    <ul class="list list-icons list-dark mt-2">
                        <li><i class="far fa-clock top-6"></i> Sunday - Closed</li>
                        <li><i class="far fa-clock top-6"></i> Monday - 10:00 am to 07:00 pm</li>
                        <li><i class="far fa-clock top-6"></i> Tuesday - 10:00 am to 07:00 pm</li>
                        <li><i class="far fa-clock top-6"></i> Wednesday - 10:00 am to 07:00 pm</li>
                        <li><i class="far fa-clock top-6"></i> Thursday - 10:00 am to 07:00 pm</li>
                        <li><i class="far fa-clock top-6"></i> Friday - 10:00 am to 07:00 pm</li>
                        <li><i class="far fa-clock top-6"></i> Saturday - Closed</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">

                <h2 class="font-weight-bold text-8 mt-2 mb-0">Contact our support guys or make an appointment with our management team</h2>
                <p class="mb-4">Please contact us using the information below. For additional information on our management & services, please visit the appropriate page on our site.</p>

                <form class="row " action="https://formsubmit.co/nehavi.dev@gamil.com" method="POST">
                    <div class="contact-form-success alert alert-success d-none mt-4">
                        <strong>Success!</strong> Your message has been sent to us.
                    </div>

                    <div class="contact-form-error alert alert-danger d-none mt-4">
                        <strong>Error!</strong> There was an error sending your message.
                        <span class="mail-error-message text-1 d-block"></span>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-label mb-1 text-2">Full Name</label>
                            <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control text-3 h-auto py-2" name="name" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="form-label mb-1 text-2">Email Address</label>
                            <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-2" name="email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label class="form-label mb-1 text-2">Subject</label>
                            <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control text-3 h-auto py-2" name="subject" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label class="form-label mb-1 text-2">Message</label>
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control text-3 h-auto py-2" name="message" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <input type="submit" value="Send Message" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>